*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: #9fbca1;
}
a{
    color: white;
    font-family: 'DM Serif Display', serif;
}
a:hover{
    color: #687869;
}
.navbar-brand{
    font-size: 1.6em;
}
.btn{
    background-color: #808d74;
    border-radius: 16px;
    color: white;
   }
.btn:hover {
    background-color: #687869;
    color: white!important;
}

