*{
    font-family: 'Poppins', sans-serif;
}
/*===Navbar===*/
.navbar{
    background-color: #9fbca1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
a{
    color: white;
    font-family: 'DM Serif Display', serif;
}
a:hover{
    color: #687869;
}
.navbar-brand{
    font-size: 1.6em;
}
.btn{
    background-color: #808d74;
    border-radius: 16px;
    color: white;
   }
.btn:hover {
    background-color: #687869;
    color: white!important;
}

/*===Carousel===*/
.w-100{
    margin-top: 5.5em !important;
    height: 34em!important;
    width: 90% !important;
}

.carousel-inner img {
    margin: auto;
}
/*========Footer======*/
footer{
    background-color: #9fbca1;
    color: white;
}
.footer{
    list-style: none;
    display: flex;
    margin-top: 6.5%;
    padding: 6px;
    margin-left: 3%;
}
.ft{
    padding: 10px;
}