*{
    font-family: 'Numans', sans-serif;
}

:root{
    --main-grey-color:#E1DCD7;
    --main-lightGreen-color: #93A484;
    --main-darkGreen-color: #2F4211;
    --main-orange-color: #DF851E ;
    --main-red-color: #CD4210 ;
    --main-white-color: white ;
    --header-font:'Special Elite', cursive;

}
/*=========NAVBAR========*/
nav{
    background-color: var(--main-lightGreen-color);
}
.navbar-brand{
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.7em;
}
#logo{
    width: 3.5em;
}

.container-fluid{
    position: absolute !important;
    margin-top: -17.5em !important;
    background-color: lightgray !important;
    width: 93.5% !important;
    opacity: 0.9;

}
#titleFood{
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 69px;
    padding: 17px;
    flex-wrap: wrap;
}